
<md-sidenav-container fullscreen class="sidenav-container" style="top: 100px !important;">
  <md-sidenav #sidenav mode="side" opened="true">
    <app-demo-side></app-demo-side>
  </md-sidenav>
  <button md-icon-button (click)="sidenav.toggle()">
    <i class="fa fa-list-ul"></i>
  </button>
  <div class="project-content">
    <app-demo-progress></app-demo-progress>
    <div class="tags" style="padding: 20px">
      <router-outlet name="router-content"></router-outlet>
    </div>

  </div>
</md-sidenav-container>
