<md-toolbar class="primary">
  <!-- <a class="md-toolbar-tools"  md-button [routerLink]="['/project-list/demo-pro']">{{p_name}}</a> -->
  <a class="md-toolbar-tools"  md-button [routerLink]="['/project-list/:p_domain']">??</a>
  <button md-icon-button><p class="glyphicon glyphicon-cog"></p></button>
</md-toolbar>
<br>

<!-- <button md-button type="button" (click)="onClick()">+새 폴더 만들기</button><br> -->
<hr>

<a md-button [routerLink]="['/project-list/demo-pro',{outlets: {'router-content': ['demo-notice']}}]">공지사항</a><br>
<a md-button [routerLink]="['/project-list/demo-pro',{outlets: {'router-content': ['demo-file']}}]">파일업로드</a><br>
<hr>

<a md-button [routerLink]="['/project-list/demo-pro',{outlets: {'router-content': ['demo-chat']}}]">채팅</a><br>

<!-- [routerLink]="['/project',
  {outlets:
    {
    'router-progress': ['progress'],
    'router-side': ['side'],
    'router-content': ['content']
  }}]" -->
  <!-- {path:'demo-pro', component:DemoProComponent, children: [
    {path:'demo-content', component:DemoContentComponent, outlet: 'router-content'},
    {path:'demo-notice', component:DemoNoticeComponent, outlet: 'router-content'},
    {path:'demo-file', component:DemoFileComponent, outlet: 'router-content'},
  ]}, -->
