		<footer class="footer-distributed">
      <title>Distributed Footer</title>
			<div class="footer-right">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="#">Home</a>
					1
					<a href="#">Blog</a>
					2
					<a href="#">Pricing</a>
					3
					<a href="#">About</a>
					4
					<a href="#">Faq</a>
					5
					<a href="#">Contact</a>
				</p>

				<p>Weed Project &copy; 2017</p>
			</div>

		</footer>
